/*
SPACING SYSTEM (px)
 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 48 / 60 / 72 
*/

/* ------------------------ */
/* VARIABLES */
/* ------------------------ */
:root {
  --primary-color: #3d55cc; /* Used for actions */
  --darkest-color: #141a33; /* Used for heading text */
  --dark-color: #505673; /* Used for secondary tex */
  --medium-color: #878ca8; /* Used for non-decorative borders */
  --light-color: #dadef2; /* Used for decorative borders */
  --lightest-color: #f5f6fa; /* Used for alternate background */
  --white: #ffffff; /* Used for the main background */
}

/* ------------------------ */
/* RESET & GENERAL STYLES */
/* ------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 968px;
  margin: 0 auto;
  padding: 0 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

/* ------------------------ */
/* HEADER STYLES */
/* ------------------------ */
.site-header {
  background: var(--primary-color);
  padding: 1.6rem 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  text-decoration: none;
}

.logo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--lightest-color);
  font-size: 1.6rem;
}

.btn {
  border: none;
  color: var(--dark-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-share {
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.3s;
  background-color: transparent;
  border: 1px solid var(--lightest-color);
  color: var(--lightest-color);
}

.btn-share:hover {
  background-color: var(--light-color);
}

.icon-share {
  width: 1.6rem;
  height: inherit;
  fill: var(--lightest-color);
}

/* ------------------------ */
/* PASSWORD CHECKER STYLES */
/* ------------------------ */
.password-tool {
  padding: 8rem 0;
  background-color: var(--white);
}

/* Tool Heading section */
.tool-intro {
  margin-bottom: 4.8rem;
  text-align: center;
}

.tool-intro h1 {
  text-transform: capitalize;
  line-height: 1.2;
  font-weight: 800;
  font-size: 3rem;
  color: var(--darkest-color);
  margin-bottom: 1.2rem;
}

.tool-intro h1 span {
  display: block;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: var(--primary-color);
}

.tool-intro p {
  max-width: 768px;
  margin: 0 auto;
  color: var(--dark-color);
  line-height: 1.8;
  font-weight: 500;
  font-size: 1.4rem;
}

/* Tool Section */
.tool-interface {
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--lightest-color);
  padding: 3rem;
  font-size: 1.6rem;
}

.icon-tips {
  display: block;
  width: 2.4rem;
  height: inherit;
}

.password-tip {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  color: var(--light-color);
}

.password-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  padding: 1.2rem 1.6rem;
  border: 1px solid var(--lightest-color);
  border-radius: 6px;
  background: linear-gradient(
    180deg,
    var(--white) 0%,
    var(--lightest-color) 100%
  );
  transition: all 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  margin-bottom: 2rem;
}

.input-password {
  font-family: inherit;
  border: none;
  width: 100%;
  outline: none;
  letter-spacing: 1px;
  border-right: 1px solid var(--light-color);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 1.6rem;
  background-color: transparent;
}

.input-password::placeholder {
  font-size: 1.6rem;
  font-weight: 500;
  color: #bbb;
  font-style: italic;
}

.password-form:has(.input-password:focus) {
  border: 2px solid #4a90e2;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.btn-icon {
  border: 1px solid var(--medium-color);
  background-color: var(--lightest-color);
  outline: none;
  border-radius: 8px; /* Ensures a perfect round shape */
  padding: 1.2rem; /* Adjust padding if needed */
  width: 4.8rem; /* Adjust size */
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon {
  width: 2.4rem;
  height: inherit;
  fill: var(--darkest-color);
}

.copy-success {
  fill: var(--primary-color);
}

.generate-password {
  background-color: var(--primary-color);
}
.icon-random {
  fill: var(--lightest-color);
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
  z-index: 0;
}

.progress {
  height: 100%;
  width: 0;
  border-radius: 4px;
  transition: width 0.3s;
}

/* PASSWORD FEEDBACK */
.password-feedback {
  background-color: var(--light-color);
  color: var(--darkest-color);
  padding: 2.4rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.6rem;
  font-weight: 500;
}

.password-length-info {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.char-count {
  font-size: 1.8rem;
  font-weight: 600;
  transition: opacity 0.3s ease;
}

.password-criteria {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-size: 1.4rem;
  gap: 3.2rem;
  flex-wrap: wrap;
  letter-spacing: 1px;
  transition: opacity 0.3s ease;
}

.password-criteria p {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.icon-check {
  width: 1.6rem;
  height: inherit;
  fill: var(--darkest-color);
}

/* PASSWORD RESULTS */
.password-results {
  border-radius: 8px;
  margin-top: 2.4rem;
  padding: 3.2rem 2.4rem;
  background-color: var(--lightest-color);
  color: var(--darkest-color);
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.crack-time-value,
.strength-value,
.guess-count {
  text-transform: uppercase;
  margin-left: 8px;
  font-size: 1.8rem;
  font-weight: 600;
}

.suggestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.warning-message,
.suggestion-text {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--darkest-color);
}

.privacy-note {
  font-size: 1.6rem;
  color: var(--darkest-color);
  text-align: center;
  margin-top: 4.8rem;
  font-weight: 600;
}

/* FOR JAVASCRIPT */
.hidden {
  display: none;
}
